<div class="text-center mb-8">
    <div class="inline-flex items-center justify-center w-16 h-16 rounded-lg mb-4 overflow-hidden">
        <img src="/logo/logo_cuwary.jpg" alt="Logo" class="object-contain rounded-full border border-black" width={64}
            height={64} unoptimized />
    </div>
    <h1 class="text-3xl font-bold text-black text-balance">Reset Password</h1>
    <p class="text-muted-foreground text-slate-500 mt-2">
        Enter your email address and we'll send you a link to reset your password
    </p>
</div>