<form class="space-y-4">

    <div class="relative">
        <lucide-angular [img]="Mail"
            class="absolute text-black left-[0.4em] top-[0.43em] w-5 h-5 text-muted-foreground"></lucide-angular>
        <input type="email" placeholder="Enter your email address" class="w-full pl-10 pr-4 py-2.5
        bg-gray-200 border border-gray-300
        rounded-lg focus:outline-none
        focus:ring-1 text-black focus:ring-primary/50
        focus:border-transparent transition-colors" />
    </div>


    <button type="submit"
        class="w-full h-11 text-white bg-primary bg-blue-800 text-primary-foreground font-medium rounded-lg hover:bg-primary/90 transition-colors mt-2">
        Send Reset Link
    </button>


    <div class="mt-4 p-3 bg-blue-50 border border-blue-200 rounded-lg">
        <p class="text-xs text-slate-600">
            We'll send a password reset link to your email. Check your inbox and follow the instructions to reset your
            password.
        </p>
    </div>
</form>