<form class="space-y-4">
    <div class="relative">
        <lucide-angular [img]="Mail"
            class="absolute text-black left-[0.4em] top-[0.43em] w-5 h-5 text-muted-foreground"></lucide-angular>
        <input type="email" placeholder="Enter your email" class="w-full pl-10 pr-4 py-2.5 
          bg-gray-200 border border-gray-300 
          rounded-lg focus:outline-none 
          focus:ring-1 text-black focus:ring-primary/50 
          focus:border-transparent transition-colors" />
    </div>

    <div class="relative">
        <lucide-angular [img]="Lock"
            class="absolute text-black left-[0.4em] top-[0.43em] w-5 h-5 text-muted-foreground"></lucide-angular>
        <input type="password" placeholder="Enter your password" class="w-full pl-10 pr-10 py-2.5 
          bg-gray-200 border border-gray-300 
          rounded-lg focus:outline-none 
          focus:ring-1 focus:ring-primary/50 
          text-black
          focus:border-transparent transition-colors" />

        <button type="button"
            class="absolute right-3 top-3.5 text-muted-foreground hover:text-foreground transition-colors">
            <lucide-angular [img]="Eye" class="w-5 h-5 text-black"></lucide-angular>
        </button>
    </div>
</form>